.results{
  display:flex;
  width:100%;
  flex-wrap:wrap;
  justify-content: space-between;
  padding:5px;

}
.container{
  display:flex;
  width:100%;
  flex-wrap:wrap;
  font-family: 'ZCOOL XiaoWei', serif;
}
