.book {
  width:100%;
  height:auto;
  box-shadow: -10px -10px 15px rgba(0,0,0,0.3), 10px 10px 15px rgba(0,0,0,0.3);
  position:relative;
  margin-bottom: 20px;
}
.book img{
  width:100%;
  height:auto;
}
.details{
  width:100%;
  text-justify:left;
  padding:2px;
  margin:0;
}
.dropdown{
  width:30px;
  height:30px;
  border-radius: 15px 15px;
  position: absolute;
  bottom:-15px;
  right:5px;
  background: green;
  cursor: pointer;
}
@media screen and (min-width:430px){
  .book{
    width:40%;
  }
}
@media screen and (min-width:699px){
  .book{
    width:18%;
  }
}
